# .gitignore for Grails 1.2 and 1.3

# web application files
/web-app/WEB-INF/classes

# default HSQL database files for production mode
/App/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/App/stacktrace.log
/App/test/reports
/App/logs

# project release file
/App/*.war

# plugin release files
/*.zip
/App/plugin.xml

# older plugin install locations
/App/plugins
/App/web-app/plugins

# "temporary" build files
/App/target
